{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="jumbotron txt-center">
    <h1> Bienvenue sur la homepage</h1>
    <p>loremmflkmdlkfmdlkfmldkmfldkmflkdmùflksmldlgkjflkgjfdlgjfdlmkjglfdkjgldfkjgldfkjgdfkgjdfiutriropiitueriizeporiezpiupezo;</p>
</div>
{% endblock %}
